body{
    background-image: url(../img/BenefitsBG.webp);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: rgb(56, 55, 55); */
}

section>p{
    text-align: justify;
}

main{
    background-color: hsl(39, 77%, 83%,0.5);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto 2.5rem;
    backdrop-filter: blur(10px);
    padding-bottom: 5rem ;
}


