body{
    background-image: url(../img/HazardsBG.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: rgb(56, 55, 55); */
}

img{
    border-radius: 10px;
}

main{
    background-color: hsla(41, 75%, 77%, 0.5);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto 2.5rem;
    backdrop-filter: blur(10px);
    padding-bottom: 5rem;
    padding-inline: 20px;
}

section:last-child>p{
    width: auto;
    max-width:100%;
}

section>p{
    text-align: justify;
    padding-inline: 40px;
    margin-inline:1rem;
    width: 40vw;
}

main>section>img{
    float: right;
    /* padding: 2rem 0 0 0; */
    margin: 0.5 0.8rem;
    margin-top: 2rem;
    max-width: 50vw;
    max-height: 60vh;
    transition: 0.5s ease-in-out;
    transform-origin: top right;
}
main>section>img:hover{
    box-shadow: 0 4px 80px rgb(0, 0, 0);
    border-radius: 0px;
    transform: scale(1.5);
}

@media (max-width: 1100px) {
    main>section>img{
        min-width:80vw;
        margin-bottom: 20px;
        height:auto;
    }
    main>section>img:hover{
        transform: none !important;
    }
}
