body{
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: rgb(56, 55, 55); */
}
h1{
    margin-bottom:0.58em;
}
h3{
    margin:0px;
}
img{
    transform-origin:top right;
    border-radius: 5px;
    float:right;
}

img:hover{
    border-radius: 0px;
    /* width: 20vw; */
    transform: scale(2); 
    transition: 0.3s ease-in-out;
}

@media (max-width: 800px) {
    /* section{
        font-size: medium;
        } */
        img:hover{
            transform: none!important;
        }
    }
@media (max-width: 950px) {
    img:hover{
        transform: scale(1.2); 
    }
}

section>p{
    text-align: justify;
}
#menuBtn,
#backBtn{
    position: fixed;
    z-index: 1;
    border-radius: 10rem 0 0 10rem;
    text-decoration: none;
    color: white;
    background-image: radial-gradient(rgba(141, 139, 139, 0.763), rgba(207, 207, 207, 0.763));
    padding: 0.9rem 1.1rem;
    top: 40px;
    left: 35px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform-origin: left;
    margin-top:0.2rem;
}
#menuBtn{
    transform-origin: right;
    left: 84px;
    border-radius: 0 10rem 10rem 0;
}
#menuBtn:hover,
#backBtn:hover{
    z-index:2;
    margin-top:0rem;
    padding: 1.1rem 1.3rem;
    background-image: radial-gradient(rgba(0, 255, 255, 0.605), rgba(0, 191, 255, 0.605));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.811);
}
#menuList{
    position:fixed;
    top:95px;
    left:84px;
    margin:0;
    padding: 0;;
    width:180px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    overflow: auto;
    z-index:5;
    display:none;
}

#menuBtn:hover + #menuList,
#menuList:hover{
    display:block;
}

#menuList li a{
    display: block;
    padding: 12px 16px;
    color:#222;
    text-decoration: none;
    font-size: 0.95em;
    transition: all 0.3s ease-in-out;
}
#menuList li a:hover{
    background-color: hsl(197, 100%, 50%,0.3);
    color: #000000;
}

main{
    background-color: hsl(39, 77%, 83%,0.5);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto 2.5rem;
    backdrop-filter: blur(10px);
    padding-bottom: 5rem ;
    padding: 50px;
}

#Page0{
    text-decoration: none;
    color:black;
    background-color: rgb(93, 91, 91);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width:100px;
    height: 20px;
    transition: 0.8s ease-in-out;
    margin: 5rem;
    position: relative;
    text-align: center;
    font-size: 20px;
}
/* section:last-child>div>a:hover{ */
#Page0:hover{
    background-color: cyan;
    color:blue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.811);
    /* margin: 1.8rem 5rem 3.2rem 5rem; */
}